<meta charset="utf-8"> 
 <div class="jumbotron" ng-init="getAllAuftraege()">
 
 	<h2>Alle Auftr&auml;ge</h2>
	<p class="bot-buffer">hier siehst du alle Auftr&auml;ge auf denen du buchungsberechtigt bist</p>
	
	<div ng-show="showErrorBox" class="alert alert-danger bot-buffer" role="alert">{{errorMessage}}</div>
 
  	<accordion close-others="true">
    	<accordion-group class="timba-accordion" ng-repeat="auftrag in auftraege">
    		<accordion-heading>
    			<table class="timba-accordion-heading">
    		<tr>
    			<td>
    				<i class="pull-left fa fa-plus"></i>
    			</td>
    			<td>
	    			{{auftrag.kurzbeschreibung}} ({{auftrag.name}})
    			</td>
    		</tr>
    		</table>
    		</accordion-heading>
    		<!-- <p>{{auftrag.beschreibung}}</p> -->
    		<div ng-repeat="arbeitspaket in auftrag.arbeitspakete" class="timba-accordion-list">
	    		<a ng-click="openBuchungErstellen(arbeitspaket, auftrag)" href="#buchungErstellen">
	    			{{arbeitspaket.kurzbeschreibung}}
	    		</a>
    		</div>
   		</accordion-group>
  	</accordion>
 </div>
 