<meta charset="utf-8"> 
<div class="jumbotron timba-jumbotron" ng-init="initArbeitspaketAnlegen()">
	<h2>Arbeitspaket anlegen</h2>
	<p class="bot-buffer">{{message}}</p>
	<div ng-show="showErrorBox" class="alert alert-danger bot-buffer" role="alert">{{errorMessage}}</div>
	<div ng-show="showSuccessBox" class="alert alert-success bot-buffer" role="alert">{{successMessage}}</div>
	
	<form class="form-horizontal" name="arbeitspaketAnlegenFormular">
		
		<div class="form-group">
			<label class="col-sm-3 control-label">Auftrag</label>
			<div class="col-sm-8">
				<input class="form-control" id="kurzbeschreibung" type="text"
					placeholder="Arbeitspaket-Kurzbeschreibung" ng-model="auftragKurzbeschreibung" readonly>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label">Arbeitspaket-Name</label>
			<div class="col-sm-8">
				<input class="form-control" id="kurzbeschreibung" type="text"
					placeholder="Arbeitspaket-Kurzbeschreibung" ng-model="kurzbeschreibung" required>
			</div>
		</div>

		<div class="form-group">
			<label for="beschreibung" class="col-sm-3 control-label">Beschreibung</label>
			<div class="col-sm-8">
				<textarea ng-model="beschreibung" class="form-control" rows="3"
					placeholder="Arbeitspaket Beschreibung"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">PLAN-Aufwand</label>
			<div class="col-sm-8">
				<input pattern="\d+" class="form-control" id="planAufwand"
					type="text" placeholder="PLAN Aufwand in VOLLEN Stunden" ng-model="planAufwand" required>
			</div>
		</div>
		
		<div class="form-group">
    	<div class="col-sm-offset-3 col-sm-8">
		    <button ng-disabled="arbeitspaketAnlegenFormular.$invalid" ng-click="arbeitspaketAnlegen()" type="submit" class="btn btn-primary">Arbeitspaket anlegen</button>
    	</div>
    </div>
	</form>
</div>