<meta charset="utf-8"> 
<div class="jumbotron" ng-init="initBuchungenAnzeigen()">
	<h2>Meine Buchungen</h2>
	<p class="bot-buffer">
		hier siehst du deine Buchungen im angegebenen Zeitraum
	</p>
	<div ng-show="showErrorBox" class="alert alert-danger bot-buffer" role="alert">{{errorMessage}}</div>
	<div ng-show="showSuccessBox" class="alert alert-success bot-buffer" role="alert">{{successMessage}}</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="endBtn" style="cursor: pointer;">
					<span class="fa fa-calendar"></span>
				</span>
				<input id="endDatum" type="text" class="form-control" placeholder="dd.MM.yyyy" ng-model="endDatum.value" required>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="begBtn" style="cursor: pointer;">
					<span class="fa fa-calendar"></span>
				</span>
				<input id="beginnDatum" name="input" type="text"
					class="form-control" placeholder="dd.MM.yyyy"
					ng-model="beginnDatum.value" required>
			</div>
		</div>

		<div class="col-md-4">
			<button class="btn btn-default" ng-click="buchungenAnzeigen()">&Uuml;bernehmen</button>
		</div>
		
	</div>
	<div class="row bot-buffer">
		<div class="col-md-8">
			<div class="input-group input-group-lg">
				<div class="input-group-addon">
					<i class="fa fa-search"></i>
				</div>
				<input type="text" class="form-control" placeholder="Suche"
					ng-model="searchAuftrag">
			</div>
		</div>
	</div>

	<table class="table table-bordered table-striped timba-table" ng-init="buchungenAnzeigen()">
    <thead>
      <tr>
      	<td></td>
        <td>
          <a ng-click="sortType = 'buchungsDatum'; sortReverse = !sortReverse">
            Datum
            <span ng-show="sortType == 'buchungsDatum' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'buchungsDatum' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'auftragKurzbeschreibung'; sortReverse = !sortReverse">
          Auftrag
            <span ng-show="sortType == 'auftragKurzbeschreibung' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'auftragKurzbeschreibung' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'arbeitsPaketKurzbeschreibung'; sortReverse = !sortReverse">
          Arbeitspaket
            <span ng-show="sortType == 'arbeitsPaketKurzbeschreibung' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'arbeitsPaketKurzbeschreibung' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'aufwand'; sortReverse = !sortReverse">
          IST(h)
            <span ng-show="sortType == 'aufwand' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'aufwand' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td></td>
      </tr>
    </thead>
		<tbody ng-repeat="buchung in buchungen | orderBy:sortType:sortReverse | filter:searchAuftrag" data-ng-switch on="dayDataCollapse[$index]">
			<tr class="clickableRow" title="Zum einblenden des Kommentars hier klicken" data-ng-click="selectTableRow($index, buchung.id)">
				<td>
				<button ng-hide="buchung.kommentar==null||buchung.kommentar==&quot;&quot;"
						type="button" class="btn btn-default" aria-label="Left Align">
						<span class="fa fa-plus" aria-hidden="true"></span>
					</button>			
				</td>
				<td style="width:150px">{{ buchung.buchungsDatum }}</td>
				<td>{{ buchung.auftragKurzbeschreibung }}</td>
				<td>{{ buchung.arbeitsPaketKurzbeschreibung }}</td>
				<td style="text-align: right; padding-right: 20px">{{buchung.aufwand}}</td>
				<td>
					<button
						ng-click="storniereBuchung(buchung.arbeitsPaket, buchung.aufwand, buchung.kommentar)"
						type="button" class="btn btn-default" aria-label="Left Align">
						<span class="fa fa-trash-o" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
			<tr data-ng-switch-when="true" ng-hide="buchung.kommentar==null||buchung.kommentar==&quot;&quot;">
				<td></td>
				<td colspan=5>
					{{buchung.kommentar}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
