<meta charset="utf-8">
<div class="jumbotron" ng-init="initReporting()">

	<h2>Reporting</h2>
	<p class="bot-buffer">hier kannst du Berichte erstellen</p>

	<div ng-show="showErrorBox" class="alert alert-danger bot-buffer" role="alert">{{errorMessage}}</div>


		<div class="row bot-buffer">
			<div class="col-md-4">
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="endReportBtn"
						style="cursor: pointer;"> <span class="fa fa-calendar"></span>
					</span> <input id="endDatumReport" type="text" class="form-control"
						placeholder="dd.MM.yyyy" ng-model="endDatum.value" required>
				</div>
			</div>

			<div class="col-md-4">
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="begReportBtn"
						style="cursor: pointer;"> <span class="fa fa-calendar"></span>
					</span> <input id="beginnDatumReport" name="input" type="text"
						class="form-control" placeholder="dd.MM.yyyy"
						ng-model="beginnDatum.value" required>
				</div>
			</div>
			<div class="col-md-4">
				<input type="submit" ng-disabled="reportingUser.name == undefined || reportingUser.name.length < 4" ng-click="downloadReport()"
					class="btn btn-default" value="Download starten" /> <span ng-show="selectedReport=='aufwandNachAuftragArbeitspaket'">für
					{{reportingUser.name}}</span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<select class="form-control" ng-model="selectedReport" >
					<option value="aufwandNachAuftragArbeitspaket" selected="selected">Aufwand nach Auftrag und Arbeitspaket für SBNr</option>
					<option ng-show="reportConfig.auftraege.length>0" value="aufwandNachSbNrfuerAuftrag">Aufwand nach SBNr für Auftrag</option>
				</select>
			</div>

			<div class="col-md-4">
				<input ng-show="reportConfig.isOrgaLeiterOrDeputy&&selectedReport=='aufwandNachAuftragArbeitspaket'" placeholder="Mitarbeiter wählen" type="text"
					required="required" class="form-control" ng-model="reportingUser"
					typeahead="user as (user.kurzbeschreibung + ' (' +user.name+')' ) for user in reportConfig.mitarbeiter | filter:$viewValue" />
					
				<select class="form-control" ng-show="selectedReport=='aufwandNachSbNrfuerAuftrag'">
					<option ng-repeat="auftrag in reportConfig.auftraege">{{auftrag.kurzbeschreibung}}</option>
				</select>
			</div>
		</div>
</div>
