<meta charset="utf-8"> 
 <div class="jumbotron" ng-init="initReporting()">
 
 	<h2>Reporting</h2>
	<p>hier kannst du Berichte erstellen</p>
	
	<div ng-show="showErrorBox" class="alert alert-danger" role="alert">{{errorMessage}}</div>

		<div class="row bot-buffer">
		<div class="col-md-4">
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="endReportBtn" style="cursor: pointer;">
					<span class="fa fa-calendar"></span>
				</span>
				<input id="endDatumReport" type="text" class="form-control" placeholder="dd.MM.yyyy" ng-model="endDatum.value" required>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="begReportBtn" style="cursor: pointer;">
					<span class="fa fa-calendar"></span>
				</span>
				<input id="beginnDatumReport" name="input" type="text"
					class="form-control" placeholder="dd.MM.yyyy"
					ng-model="beginnDatum.value" required>
			</div>
		</div>
		
		<div class="col-md-4">
 		<input type="submit" class="btn btn-default" value="Download starten" ng-click="downloadReport()"/>
  		</div>
  	</div>

	<div class="row">
	<div class="col-md-8">
		<select class="form-control" ng-model="report">
			<option value="aufwandNachAuftragArbeitspaket" selected="selected">Mein Aufwand nach Auftrag und Arbeitspaket</option>
			<option value="aufwandNachAuftragArbeitspaket">Aufwand nach Auftrag und Arbeitspaket für Mitarbeiter</option>
		</select>
	</div>
	<div class="col-md-4">
	<input ng-hide="false" class="form-control" type="text" ng-model="reportingUser" />
	</div>
	</div>
</div>
 