@CHARSET "utf-8";

.top-buffer { margin-top:20px; }

.bot-buffer { margin-bottom :20px; }

.mitarbeiter-table{
	height: 400px !important;
    overflow: scroll;
}
/*
.btn-primary { 
    background-color: #b00202; 
    border-color: #b00202; 
} 
*/