/**
hier werden speziell für Timba benoetigte Style-Informationen hinterlegt
**/

@CHARSET "utf-8";

.top-buffer {
	margin-top: 20px;
}

.bot-buffer {
	margin-bottom: 20px;
}

.timba-table {
	font-size: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.timba-table-btn{
	padding-top: 4px;
	padding-bottom: 3px;
	padding-right: 9px;
	padding-left: 9px;
}

.timba-form-horizontal{
	padding-top: 4px;
	font-size: 21px;
	line-height: 1.6;
}

.timba-label{
	padding-top: 4px;
	text-align: right;
	margin-bottom: 7px;
}

/*
.btn-primary { 
    background-color: #b00202; 
    border-color: #b00202; 
} 
*/
.timba-accordion-heading {
	font-size: 21px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.timba-accordion-list {
	padding-right: 10px;
	font-size: 18px;
	padding-left: 23px;
	border-color: rgb(221, 221, 221);
	border-style: solid;
	border-width: 1px;
	margin-bottom: -1px;
	margin-left: 7px;
	color: #d50000;
}

.timba-accordion {
	padding-top: 0px;
	padding-bottom: 0px;
}

.timba-navbar-buffer{
	padding-top: 3px;
}